@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-wrap {
  animation: spin 20s linear infinite;
}

.logo {
  filter: blur(16px);
  transition: ease-in-out 0.1s;
}

.logo:hover {
  filter: blur(0px);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    filter: hue-rotate(0deg) saturate(90%) brightness(80%);
  }
  to {
    transform: rotate(360deg);
    filter: hue-rotate(360deg) saturate(90%) brightness(80%);
  }
}
